@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    background-color: var(--color-zinc-50);
    color: var(--color-zinc-900);
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--color-zinc-950);
      color: var(--color-zinc-50);
    }
  }
}
